.friend-item {
  @include media("<boundary") {
    border: 0;
  }
  display: flex;
  background-color: white;
  border: solid 1px $oc-gray-3;
  .thumbnail {
    line-height: 0;
    cursor: pointer;
    img {
      width:100px;
      height:100px;
    }
  }
  .content {
    display: flex;
    width: calc(100vw - 100px);
    margin: 0 13px;
    justify-content: space-between;
    align-items: center;
    .info {
      line-height: 17px;
      .name {
        font-size: 15px;
        font-weight: 600;
        color: $oc-indigo-9;
        cursor: pointer;
      }
      .friend-cnt {
        font-size: 13px;
        color: $oc-gray-7;
      }
    }
    .more-btn {
      span {
        font-size: 13px;
        svg {
          font-size: 15px;
        }
      }
    }
    @include media("<boundary") {
      margin: 0 8px;
      align-items: baseline;
      justify-content: center;
      flex-direction: column;
      .info {
        .name {
          font-size: 14px;
          color: $oc-gray-9;
        }
      }
    }
  }
}