
.gallery {
  display: grid;
  grid-auto-rows: minmax(10rem, auto);
  grid-column-gap: .5rem;

  &.isParallel {
    grid-template-columns: repeat(2, 1fr);
  }


  .photo-wrapper {
    &.twoSize {
      grid-row: 1;
      grid-column: 1 / 3;
    }

    .photo {
      width: 100%;
      height: 100%;
      cursor: pointer;
      object-fit: cover;
    }
  }
}