.header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  max-height: $header-height;
  background-color: $oc-blue-9;

  &.isUnlogined {
    height: $header-height * 2;
    max-height: $header-height * 2;
  }

  .header {
    @include media("<boundary") {
      min-width: auto;
    }
    display: flex;
    height: $header-height;
    max-width: 63rem;
    max-height: inherit;
    min-width: 52rem;
    padding: .35rem 0;
    margin: 0 auto;

    .logo {
      margin-left: .4rem;
      font-size: 2rem;
      color: $oc-gray-0;
    }

    .user-menu {
      position: relative;
      display: flex;

      .user-menu-item {
        position: relative;
        display: flex;
        padding: 0 .8rem;
        font-size: .8rem;
        font-weight: 800;
        line-height: 2rem;
        color: $oc-gray-0;
        cursor: pointer;

        &:hover {
          background-color: RGBA(0, 0, 0, .3);
        }
        
        &::after {
          position: absolute;
          top: .5rem;
          right: 0;
          width: 1px;
          height: 1rem;
          line-height: 2rem;
          border-right: 1px solid RGBA(60, 60, 60, .3);
          content: '';
        }
      }

      .user-photo {
        width: 1.6rem;
        height: 1.6rem;
        margin: auto 0;
        border-radius: .8rem;
      }

      .user-name {
        position: relative;
        padding-left: .5rem;
      }
    }

    .toggle-menu {
      @include media("<boundary") {
        width: 100%;
      }
      display: flex;
  
      .toggle-menu-item {
        display: flex;
        width: $header-height;
        font-size: 1.5rem;
        color: $oc-gray-9;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        flex: 1;

        &:firstOne {
          order: 2
        }
      }
    }
  }
}

.unlogined-logo {
  font-size: 3rem;
  line-height: $header-height * 2;
  color: $oc-gray-0;
  text-align: center;
}