.searchbar {
  @include media("<boundary") {
    margin: 0;
    height: 30px;
  }
  position: relative;
  display: flex;
  margin: 0 .2rem;
  line-height: 1.6rem;
  flex: 1;

  &.isMobileMode {
    position: absolute;
    top: $header-height;
    left: 0;
    width: 100%;
    @include material-shadow(2, .5);
  }

  .input {
    padding-top: .2rem;
    padding-right: .5rem;
    padding-left: .5rem;
    border-radius: .2rem;
    -webkit-appearance: none;
    flex: 1;
    &:focus ~ .search-result {
      visibility: visible;
    }
  }
  .button {
    width: 2.7rem;
    font-size: 1.3rem;
    line-height: 2.1rem;
    color: $oc-gray-7;
    cursor: pointer;
    background: $oc-gray-3;
    border-radius: 0 .2rem .2rem 0;
  }

  .search-result {
    @include media("<boundary") {
      top: 1.8rem;
    }
    position: absolute;
    top: 1.7rem;
    width: 100%;
    max-height: 22rem;
    padding: .5rem 0;
    overflow: auto;
    background-color: white;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
    visibility: hidden;
    @include material-shadow(2, .5);
    &:hover {
      visibility: visible;
    }

    .result-item {
      padding: .3rem .5rem;
      &:hover {
        background-color: $oc-indigo-0;
      }
      a {
        display: flex;
        align-items: center;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }

        .username {
          padding-left: .5rem;
        }
      }
    }
  }
} 