$profile-size: 2.7rem;

.comment-edit {
  display: flex;
  padding: .5rem;
  background-color: white;
  &.reply {
    padding-right: 0;
    .user-profile {
      width: $profile-size * .75;
      height: $profile-size * .75;
    }
  }
  .user-profile {
    width: $profile-size;
    height: $profile-size;
    margin: 0 .5rem;
    border-radius: $profile-size / 2;
  }

  .input-form {
    display: flex;
    align-items: center;
    flex: 1;
  
    .input-content {
      height: 2.4rem;
      padding: .5rem;
      border: 1px solid $oc-gray-3;
      border-radius: .8rem;
      outline: none;
      resize: none;
      flex: 1;

      &:focus,
      &.hasContent {
        height:4rem;
      }
    }
  }

  .button-send {
    height: 2.7rem;
    padding: 0 .6rem;
    margin: 0 .7rem;
    border: 1px solid $oc-gray-6;
    border-radius: .2rem;
  }
}