$profile-size: 2.7rem;

.comment-item-wrapper {
  padding: .5rem;

  &.reply {
    padding-right: 0;
    .comment-item {
      .author-profile {
        width: $profile-size * .75;
        height: $profile-size * .75;
      }
    }
  }

  .comment-item {
    display: flex;
    
    .author-profile {
      width: $profile-size;
      height: $profile-size;
      margin: 0 .5rem;
      border-radius: $profile-size / 2;
    }
    .content-area {
      flex: 1;
    }
  }
}

.balloon {
  position: relative;
  display: inline-block;
  min-width: 10rem;
  padding: .5rem;
  padding-right: 1rem;
  margin-right: 1rem;
  line-height: 1.2;
  background-color: $oc-gray-1;
  border-radius: 1rem;
  .author-name {
    margin-right: .5rem;
    color: $oc-violet-9;
  }
  .content {
    font-size: .9rem;
    word-break: break-all;
  }
  .like-badge {
    position: absolute;
    right: -1rem;
    bottom: -1rem;
    padding: .2rem;
    background-color: white;
    border-radius: 50%;
    @include material-shadow(1, .5);
    .like-icon {
      display: inline-flex;
      padding: .2rem;
      font-size: .7rem;
      color: white;
      background-color: $oc-blue-6;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      
    }
    .like-score {
      margin-right: .2rem;
      margin-left: 0.4rem;
      font-size: .9rem;
      vertical-align: text-top;
    }
  }
}

.interaction {
  padding: .2rem;
  font-size: .8rem;

  .button-like {
    color: $oc-violet-9;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    &::after {
      display: inline-block;
      padding: 0 .3rem;
      color: $oc-gray-5;
      content: "·";
    }
  }
  .button-reply {
    color: $oc-violet-9;
    cursor: pointer;
    &::after {
      display: inline-block;
      padding: 0 .3rem;
      color: $oc-gray-5;
      content: "·";
    }
    &:hover {
      text-decoration: underline;
    }
  }
}