// 전역으로 사용하는 스타일 폰트 설정
@import '~normalize.css';
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

body {
  margin: 0;
  font-family: 'Note Sans KR', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

li {
  list-style: none;
}

input {
  border: none;
  outline-style: none;
}

button {
  border: none;
}