.login-template {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;

  .content-wrapper {
    display: flex;
    background-image: linear-gradient(rgba(253, 254, 254, 1), rgba(210, 216, 232, 1));
    flex: 1;
    align-items: center;
    justify-content: center;
  }
}