.login-header {
  height: $header-height * 2;
  font-family: cursive;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: $header-height *2;
  color: white;
  text-align: center;
  background-color: $oc-violet-9;
}