.login-header {
  height: $header-height * 2;
  font-size: $header-height;
  font-weight: 600;
  line-height: $header-height *2;
  color: white;
  text-align: center;
  background-color: $oc-blue-9;
}