.login-footer {
  max-width: 40rem;
  padding: 2rem 0;
  margin: 0 auto;
  font-size: 1.5rem;

  .footer-content {
    text-align: center;
    .team {
      margin: 0 1rem;
      text-decoration: underline;
      cursor: pointer;
    }
  
    .github {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  
}