.login-template {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;

  .content-wrapper {
    display: flex;
    background-color: $oc-gray-0;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
}