.login-button {
  height: 3.6rem;
  padding: 1rem;
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-align: center;
  cursor: pointer;
  border: 1px solid $oc-gray-3;
  border-radius: .2rem;

  & > svg {
    height: 100%;
  }

  .button-icon {
    width: 1.6rem;
    font-size: 2rem;
    vertical-align: middle;
  }

  .button-text {
    padding-left: 1.3rem;
  }

  &.google {
    background-color: $oc-red-6;
    &:hover {
      @include material-shadow(3, .5);
    }
  }
  &.kakao {
    background-color: $oc-yellow-5;
    &:hover {
      @include material-shadow(3, .5);
    }
  }

  &.naver {
    background-color: $oc-teal-5;
    &:hover {
      @include material-shadow(3, .5);
    }
  }
}